<% content_for :css do %>
  <%= stylesheet_link_tag "top" %>
<% end %>
<div class="wrapper">
  <div class="bk-rgba">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-black font-weight-bold">Dailyposts</h1>
        <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">DailyPostでは、あなたの日常を投稿できます。他の人の投稿も見ることができます。今すぐ始めよう！</p>
        <div class="row">
          <div class="offset-3 col-3">
            <%= link_to "新規登録", signup_path, class:"btn btn-primary" %>
          </div>
          <div class="col-3">
            <%= link_to "ログイン", login_path, class:"btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
